<div class=" w-full h-screen flex flex-col items-center justify-start">
    <div>
        <img src="../../../assets/logo.png" alt="" class="h-[10rem] mt-[-3rem]">
    </div>
    <div class="w-full h-screen flex flex-col justify-between">
        <!-- Navigation Menu -->
        <div class="flex w-full flex-col justify-start items-center ">
          <ul class="w-full flex flex-col text-gray-600">
            <li class="hover:bg-blue-400 hover:text-white hover:font-bold cursor-pointer w-full text-center h-16 flex items-center justify-start pl-8 active:text-white active:bg-blue-400 active:font-bold"
                router-link="/dashboard">
              <span class="material-symbols-outlined mr-3">dashboard</span>
              Dashboard
            </li>
            <li class="hover:bg-blue-400 hover:text-white hover:font-bold cursor-pointer w-full text-center h-16 flex items-center justify-start pl-8 active:text-white active:bg-blue-400 active:font-bold"
                router-link="/transactions">
              <span class="material-symbols-outlined mr-3">add_card</span>
              Transactions
            </li>
            <li class="hover:bg-blue-400 hover:text-white hover:font-bold cursor-pointer w-full text-center h-16 flex items-center justify-start pl-8 active:text-white active:bg-blue-400 active:font-bold"
                router-link="/accounts">
              <span class="material-symbols-outlined mr-3">account_balance_wallet</span>
              Account
            </li>
            <li class="hover:bg-blue-400 hover:text-white hover:font-bold cursor-pointer w-full text-center h-16 flex items-center justify-start pl-8 active:text-white active:bg-blue-400 active:font-bold"
                router-link="/dashboard">
              <span class="material-symbols-outlined mr-3">person</span>
              Profile
            </li>
            <li class="hover:bg-blue-400 hover:text-white hover:font-bold cursor-pointer w-full text-center h-16 flex items-center justify-start pl-8 active:text-white active:bg-blue-400 active:font-bold"
                RouterLink="/dashboard/help">
              <span class="material-symbols-outlined mr-3">help</span>
              Help
            </li>
          </ul>
        </div>
      
        <!-- Content on the other end -->
        <div class="flex items-end justify-center mb-2 ">
            <ul class="w-full flex flex-col text-gray-600">
                <li class="hover:bg-blue-400 hover:text-white hover:font-bold cursor-pointer w-full text-center h-16 flex items-center justify-start pl-8 active:text-white active:bg-blue-400 active:font-bold"
                    router-link="/dashboard">
                  <span class="material-symbols-outlined mr-3">logout</span>
                  Logout
                </li>
                <li class="  cursor-pointer w-full text-center h-16 flex items-center justify-start pl-8 border-t-2"
                >
           <img src="defalut" alt="">
             Kartik Sapkal
            </li>
            </ul>
        </div>
      </div>
      
</div>